<section class="bg-light">
  <section class="stuff-header">
    <div class="container">
      <div class="row">
        <div class="card card-header col col-12 col-md-6 card">
          <div class="card-body">
            <h2 class="card-title">Encuentra cosas para tus gatos.</h2>
            <p class="card-text">Encuentra cosas para tus gatos.
              <br> Encuentra accesorios para gatos, casas para gatos y muchas cosas lindas para tu mascota.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="card m-3" *ngFor="let cosa of cosas" style="width: 18rem;">
        <img [src]="cosa.src" alt="Cosas de gatos" class="card-img-top" width="100" height="180">
        <div class="card-body">
          <a [routerLink]="['/cosas', cosa.id]" class="card-text">{{cosa.titulo}}</a>
        </div>
      </div>
    </div>
  </div>
</section>