.stuff-header {
    background-image: url('../../../../assets/stuff/background-cat-stuff2.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 160px;
    padding-bottom: 140px;
    box-shadow:inset 0px -10px 20px 0px rgba(0,0,0,0.16);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.85)
}

.card {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}