.shop-header {
  text-align: center;
  background-color: #F3D3BD;
  border-bottom-right-radius: 120px;
}

.shop-header img {
  width: fit-content;
  height: fit-content;
  max-width: 200px;
  max-height: 200px;
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #F3D3BD;
  background-color: #fff;
}

.shop-header h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}