<section class="bg-light pb-5">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-5 p-5">
        <h3 >Cosas de gatos</h3>
        <p class="text-justify">Encuentra cosas para tus gatos.
          <br> Encuentra accesorios para gatos, casas para gatos y muchas cosas lindas para tu mascota.
        </p>
      </div>
      <div class="card m-3" *ngFor="let cosa of cosas" style="width: 18rem;">
        <img [src]="cosa.src" alt="Cosas de gatos" class="card-img-top" width="100" height="180">
        <div class="card-body">
          <a [routerLink]="['/cosas', cosa.id]" class="card-text">{{cosa.titulo}}</a>
        </div>
      </div>
    </div>
  </div>
</section>