<section class="bg-light">
  <section class="header-page-type">

    <div class="container">
      <div class="row">
        <div class=" col col-12 col-md-6 card header-types-card">
          <div class="card-body">
            <h2 class=" card-title">Encuetra todo sobre todas las razas de gato</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione similique neque quod dolorem, numquam, impedit
              porro velit dicta cupiditate culpa sunt fuga iure saepe excepturi obcaecati sed ipsum beatae possimus.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div class="container" id="razas-section">
    <div class="row justify-content-center">

      <div class="col-12 col-md-4 col-lg-3 types-card text-center mt-3" *ngFor="let gato of cats">

        <div class="types-card-emoji">
          <p>{{gato.emoji}}</p>
        </div>

        <div class="types-card-text mt-2 mb-2">
          <a [routerLink]="['/tipos', gato.titulo]">{{gato.titulo}}</a>
        </div>

        <div class="types-card-desc">
          <p>{{gato.mDescripcion}}</p>
        </div>
      </div>

    </div>
  </div>
</section>