.sections-component-hero-container {
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(auto, 450px));
	justify-content: space-evenly;
	align-items: center;
	margin: 100px 0;
}

.sections-component-hero-item {
	text-align: center;
}

.sections-component-hero-item img {
	width: 300px;
	height: 300px;
}