<section class="bg-light">
  <div style="text-align:center" class="container">
    <!-- <h1>
            Bienvenido a {{ title }}!
          </h1>
          <img width="100" alt="CatApp Logo" class="img-responsive" src="../assets/logoGato.svg"> -->
    <div class="row justify-content-around pb-5">
      <div class="col-12 col-md-5">
        <h1 class="display-4 mt-5 mb-5">Todo sobre gatos</h1>
        <p class="lead text-justify">Todo sobre los mejores gatos que puedas encontrar.
          <br> Si eres una amante de los gatos, deberias revisar accesorios de gatos para ti y tu mascota.</p>
      </div>
      <div class="col-12 col-md-5 mt-5">
        <img src="../../assets/logoGato.svg" alt="catApp logo" class="img-responsive" width="400" height="400">
      </div>
    </div>
  </div>
</section>
<app-razas></app-razas>
<app-types></app-types>
<app-stuff></app-stuff>