<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Tipos de gatos</h3>
        <p class="text-justify">Toda la informacion sobre gatos esta aca.
          <br> Encuentra toda la información sobre gatos en un solo lugar.
        </p>
      </div>
    </div>
    <div class="col-4">
      <ul>
        <li *ngFor="let type of types">
          <a [routerLink]="['/tipos', type.id]">{{type.titulo}}</a>
        </li>
      </ul>
    </div>
  </div>
</section>