.container {
    /* margin-top: 50px; */
    background-color: #fff;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.16);
    /* background-image: url('../../../assets/types/honor-type.jpg'); */
}

img {
    border-radius: 50%;
}