<section class="bg-light">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col col-12 col-md-5">
        <h3>Razas de gatos</h3>
        <p class="text-justify">Aqui puedes encontrar todas las razas de gatos.
          <br> Puedes hacer click en la imagen para mas información.
        </p>
        <div class="honor-card">
          <img src="../../../../assets/razasLogo/honor-raza.png" class="img-responsive" alt="Honor Gatos" width="400" height="400">
        </div>
      </div>
      <div class=" col col-12 col-md-3">
        <div *ngFor="let gato of gatos" class="razas-card text-center">
          <div class="razas-body-card">
            <div class="razas-img-card">
              <img [src]="gato.iCard" [alt]="gato.alter" class="img-responsive" width="120" height="120">
            </div>
            <div class="razas-img-text">
              <a [routerLink]="['/razas', gato.id]">{{gato.titulo}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
</section>