/* razas card */

.razas-body-card {
    border-style: solid;
    border-width: thin;
    border-color: rgb(211, 211, 211);
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.16);
}

.razas-img-card img {
    border-radius: 70px;
}

.razas-img-card {
    margin: 10px;
}

.razas-img-text {
    margin-bottom: 10px;
}

.container {
    background-color: #fff;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.16);
    /* margin-bottom: 100px; */
}

