.magia-header {
  text-align: center;
  background-color: #48E5C2;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.magia-header img {
  width: fit-content;
  height: fit-content;
  max-width: 200px;
  max-height: 200px;
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #48E5C2;
  background-color: #fff;
}

.magia-header h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

.magia-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 200px));
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.magia-body img {
  display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.magia-body div {
  cursor: pointer;
  overflow: hidden;
}

.magia-body img:hover {
  transform: scale(1.15);
}