.raza-header {
  text-align: center;
  background-color: #F3D3BD;
  border-bottom-left-radius: 120px;
}

.raza-header img {
  width: fit-content;
  height: fit-content;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #F3D3BD;
  background-color: #fff;
}

.raza-header h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

.raza-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
  grid-gap: 10px;
  text-align: center;
}

.raza-card {
  cursor: pointer;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  transition: .2s ease;
}

.raza-card:hover {
  transform: scale(1.05);
}

.raza-card img {
  width: 200px;
  height: 100px;
}