.starters-components-startraza-item-two {
	display: grid;
	grid-template-columns: repeat(2, minmax(auto, 500px));
	grid-gap: 10px;
}

.starters-components-startraza-card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	text-align: center;
	padding: 20px 0;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s ease;
}

.starters-components-startraza-card:hover {
	transform: scale(1.05);
}

.starters-components-startraza-card img {
	border-radius: 50%;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .3);
	justify-self: center;
}

.starters-components-startraza-card a {
	padding-top: 20px;
	text-decoration: none;
	color: black;
}