.razas-body-card {
    border-style: solid;
    border-width: thin;
    border-color: rgb(211, 211, 211);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.razas-img-card img {
    border-radius: 100px;
}
