footer {
  padding: 10px;
  background: rgba(0, 0, 0, .7);
}

h2 {
  color: #8b8b8b;
  opacity: .4;
  font-size: 20px;
}

a {
  color: #8b8b8b;
  text-decoration: none;
}

a:hover {
  color: #b8b8b8;
}

a:active {
  color: white;
}