<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 ">
                <div class="cover text-center">
                    <img [src]="catSelect.iCard" [alt]="catSelect.alter" class="img-responsive">
                </div>
            </div>
            <div class="col-12 col-md-5 card">
                <div class="card-body">
                    <h2 class="card-title">{{catSelect.titulo}}</h2>
                    <hr class="w-100">
                    <h5 class="card-text"><strong>Raza:</strong> {{catSelect.raza}}</h5>
                    <h5><strong>Habitat:</strong> {{catSelect.habitat}}</h5>
                    <h5><strong>Esperanza de vida:</strong> {{catSelect.esp}}</h5>
                    <h5><strong>Naturaleza:</strong> {{catSelect.naturaleza}}</h5>
                    <h5><strong>Altura:</strong> {{catSelect.altura}}</h5>
                    <h5><strong>Peso:</strong> {{catSelect.peso}}</h5>
                    <h5><strong>Sexo:</strong> {{catSelect.sexo}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
